services:
  {{ machine.service }}:
    container_name: {{ machine.service }}
    image: {{ machine.image }}
    restart: unless-stopped
    network_mode: host

    ports:
{% for port in machine.ports %}
      - '{{ port.from }}:{{ port.to }}'
{% endfor %}

    volumes:
{% for volume in machine.volumes %}
      - type: {{ volume.type }}
        source: {{ volume.source }}
        target: {{ volume.target }}
        read_only: {{ volume.read_only | default(omit) }}
{% end for %}

{% if machine.external_networks %}
networks:
{% for network in machine.networks %}
  {{ network }}:
    external: true
{% end for %}
{% endif %}
