#cloud-config
users:
{% if user.use_default_user %}
  - default
{% else %}
{% endif %}
{% for user in user.users %}
{% if user.name %}
  - name: {{ user.name }}
    ssh_authorized_keys:
{% for key in user.ssh_authorized_keys %}
      - "{{ key }}"
{% endfor %}
    password: {{ user.password | default(omit, True) }}
{% endif %}
{% endfor %}

packages:
{{ user.packages | to_nice_yaml(indent=2) }}
package_upgrade: true

{% if user.use_default_user and (default_user | default(False, True)) %}
default_user:
{% filter indent(width=2, first=True) %}
{{ default_user | to_nice_yaml(indent=2, width=1000) }}
{% endfilter %}
{% endif %}
