# cloud-config
instance-id: {{ meta_data["instance-id"] }}
local-hostname: {{ cli_hostname }}

{{ meta_data.network | to_nice_yaml(indent=2) }}

{%- if extra_meta_config | length > 0 %}
{{ extra_meta_config | to_nice_yaml(indent=2) }}
{% endif %}
